  <h2 class="comments-header">All Posts</h2>
  <% if !@comments.empty? %>
    <ul class="users-comments-list">
      <% @comments.each do |comment| %>
        <li class="comment">
          <a href= <%= "/comment/#{ comment.id }" %> class="comment-body">
            <%= comment.body %>
          </a>
          <p class="author">posted by <%= comment.user.email %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div id="no-comments">
      <p>You Have No Comments To Show! <a href="/comments/new">Tell Us What You're Thinking!</a></p>
    </div>
  <% end %>
</div>

<div id="right-content">
  <div id="logout">
    <%= link_to(("logout"), "/users/sign_out", {method: :delete, class: "logout-button"}) %>
  </div>
  <div id="sidebar">
    <nav>
      <ul class="sidebar-list">
        <li><a href=<%= "/users/#{ @current_user.id }" %>>your posts</a></li>
        <li><a href="/comments/new">new post</a></li>
      </ul>
    </nav>
  </div>
</div>