<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav>
  <% if current_user %>
	<ul>
    	<li><a href="/">Home</a></li>
        
      <li><a href="/dogs">Breeds</a></li>

		  <li><a href="/quiz">Dog Breed Quiz</a></li>

      <li><a href="/users/<%= current_user.id %>">My Profile</a></li>

    </ul>
    <% end %>
</nav>
<div id="logo">
<%= image_tag "logo.jpg" %>
</div>
<main>
<%= yield %>
</main>
</body>
</html>
